@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: white;

}

.landing {
    background-color: #555e66;
    color: white;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding-bottom: 12px;
    color: white;
}

.nav_links li a:hover {
    color:#D3E6F3;
    border-bottom: 2px solid white;

}



button {
    padding: 9px 25px;
    background-color:#302e2e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    box-shadow:
    1.4px 1.4px 2.2px rgba(0, 0, 0, 0.02),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
    6.3px 6.3px 10px rgba(0, 0, 0, 0.035),
    11.2px 11.2px 17.9px rgba(0, 0, 0, 0.042),
    20.9px 20.9px 33.4px rgba(0, 0, 0, 0.05),
    50px 50px 80px rgba(0, 0, 0, 0.07)
;

;

}

button:hover {
    background-color: #D3E6F3;
    color: #555e66;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
}

.hero {
    font-family: 'Montserrat', sans-serif;
    padding: 100px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-weight: 500;
    font-size: 40px;
}

p {
    font-weight: 500;
    font-size: 25px;
}

/* Montana Case Study Section */
.montana {
    font-family: 'Montserrat', sans-serif;
    padding: 100px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #555e66;
}

.scopeMenu {
    max-width: 200px;
    max-height: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: #D3E6F3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

